{% extends 'base.html' %}
{% block content %}





<div class="header-bar">
    <p style="font-size: 3rem;line-height: 0;color: whitesmoke;">Login</p>
</div>

{% if error %}

<div class="alert">
    <strong>{{error}}</strong>
    <strong class="closebtn" onclick="this.parentElement.style.display='none';"> &times;</strong>
</div>

{% endif %}
<div class="card-body">
    <form action="" method="POST">
        {% csrf_token %}

        {{form.as_p}}


        <input type="submit" class="button" value="Login">
    </form>

    <p>Don't have an account? <a href="{% url 'register' %}" style="color: rgba(30, 144, 255, 1);">Register</a>
    </p>
</div>

{% endblock content %}